/* Page header */
body{
    min-height:100%;
}
.appHeader{
   background:transparent url(../images/app_strip.png) top repeat-x;
   height:30px;
}

.filemenu_iconmenu{
    background: transparent url(../images/filemenu_iconmenu.png) top repeat-x;
    height:80px;
    padding-left:10px;
}
.filemenu_ctr{
    height:27px;
    position:relative;
}
.filemenu_ctr ul{
    margin:0px;
    padding:0px;
}
.filemenu_ctr ul li{
    float: left;
    list-style-type: none;
}
.filemenu_ctr a{
    margin-right:10px;
    color:black;
}
.showFileMenu{
    position: absolute;
    z-index: 9999;
    display:none;
}
.showTabsMenu{
    position: absolute;
    z-index: 9999;
    display:none;
}
.icon1_menu a{
    display:inline-block;
}
.icon1_menu{
    border-bottom: 1px solid #ccc;
     width: 680px; 
    /* width:auto; */
}
/* icon row1 menu*/


/* Login */

.form-signin{
   max-width: 335px;
   margin:0 auto; 
}

/* Tab Panel and content panel */
.nav-tabs {
    border-bottom: 1px solid #000;
}
.nav-tabs>li>a{
       border-radius: 12px 12px 0 0;
}
#my-tab-content{
    border-left:1px solid #000;
    border-right:1px solid #000;
    border-bottom:1px solid #000;
    background-color: #bfbfbf;
    padding:10px;
    box-shadow: 2px 2px 7px #888888;
    min-height:550px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {  
    cursor: default;
    background-color: #bfbfbf;
    border: 1px solid #000;
    border-bottom-color: transparent;
    font-weight:bold;
    color: #000;
}
.nav-tabs>li>a,.nav-tabs>li>a:hover {
    border-color: #000 #000 #000;
    border: 1px solid #000;
    color: #000;
    cursor: default;
    background-color: #bfbfbf;
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #bfbfbf;
}
.nav>li>a{
    padding: 5px 25px;
}
/* Data window */
.dataWindow{
    background-color:whitesmoke;
    padding: 0 10px;
}
.dataWindow h5{
    background-color: #ccc;
    padding: 5px 10px;
    border-radius: 20px 10px #000;
    /* border-radius1: 0 0px 12px 12px; */
    margin-top: 0px;
    margin-bottom:15px;
    border: 1px solid #000;
    font-weight: normal;
}

/* */
table.dataTable{
    font-size:11px;
    box-shadow: 2px 2px 7px #585858;
}
  table#crewsummarytable.dataTable tbody tr td:first-child{
    font-size:14px;
}
  table#crewpayperiodtable1.dataTable tbody tr td:first-child{
    font-size:14px;
}
  table#crewpayperiodtable1.dataTable tbody tr td:last-child{
    white-space: nowrap;
}
 table#crewpayperiodtable1.dataTable tbody tr td:nth-child(23) {
    white-space: nowrap;
}
table.dataTable thead th, table.dataTable thead td {
    padding: 2px 4px;
    font-weight: bold;
    border: 1px solid #000;
    border-left: 0px #000;
}
table.dataTable thead th.rowMerge{
    border-bottom:0px none;
}
.colspanColumn{
    border-left:0px none;
}
table.dataTable thead th.colspanColumn{
 border-left:0px none;
}
table.dataTable thead tr:first-child th:first-child{
     border-left: 1px solid #000;
}
table.dataTable tbody th, table.dataTable tbody td {
    padding: 8px 2px;
}
table.dataTable tbody th, table.dataTable tbody tr td {
    border-right: 1px solid lightgray;
}
table.dataTable tfoot th, table.dataTable tfoot td{
     padding: 2px 2px;
  
}
table.dataTable.stripe tbody tr.odd.selected, table.dataTable.display tbody tr.odd.selected {
       background-color: #9ecaf1;
    
}
table.dataTable.stripe tbody tr.even.selected, table.dataTable.display tbody tr.even.selected {
       background-color: #9ecaf1;
    
}

/* table.dataTable tfoot th:last-child{
    border-right:1px solid #000;
} */
.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    /* width: 1440px; */
    overflow-x: auto;
    min-height: 600px;
}


/* Added by Pal for login page  */
/* *****Start***** */
.loginpage {
    background-color: #d9edf7;
    padding-bottom: 10px;
    width:648px;
}
.outerlogin {
    background-color: #eee;
    border:1px solid #000;
}
.loginheader{
    color:#060686;
}
.brandlogo {
    border: 1px solid #000;  
    margin-top: 20px;
}

.brandlogoimg {
    padding-bottom: 20px;
}
.footer {
    border: 1px solid #000;
    margin-top: 20px;
    margin-bottom: 20px;
}
.footerpara {
    margin-top: 40px;
}

.btnGroup2 {
    margin-top: 15px;
}

.leftText {
    text-align:left !important;
}

.formsection{
    padding-top: 15px;
}

.forminputsection{
    padding-left: 0px;
    padding-right: 0px;
}
.alertwarning {
    color:red;
    margin-bottom: 0px;
}

.loginInput {
    margin-bottom: 15px !important;
}



/* Report styles */

.tablereport {    
    width: 975px;
    min-height: 600px;
    border: 1px solid black;
    margin-left: 20px;
    padding: 20px;
    float:left;
        background: #fff;
        box-shadow: 1px 1px 1px #111;
}
.innerBorder {
     border: 1px solid blue; 
     height:600px;
      background-color: #fff;
}
.tablereport table thead tr th, .tablereport table tbody tr td, .tablereport table tfoot tr th {
    padding:6px 2px;

}
.tablereport table {
    background: #fff;
    font-size: 12px;
   /* width: 80%;*/
}
.bs-example-modal-lg .modal-body {
   
    background-color: #ccc;
}

.panelstyles {
    text-align: left;
    width: 597px;
    margin: 20px auto 10px;
    font-size: 13px;
}
.tablereport .table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 2px solid #111;
}
.tablereport .table>tfoot>tr>th {
    vertical-align: bottom;
    border-top: 2px solid #111;
}
.btnContainer{
    margin-top:45px;
}
.btnContainer button{

    font-size: 12px;
width:75px;
margin-bottom:20px;
}

/* Selection body part css */

fieldset.scheduler-border {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}

    legend.scheduler-border {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width:auto;
        padding:0 10px;
        border-bottom:none;
    }
    .FlexMidd, .FlexMidd1{
        display: flex;
        align-items: center;
    }
    .FlexMidd p{
        text-align: center;
    }
.organiz{
    margin-top: 40px;
    margin-right: 5px;
}
.shift input{
    width: 65px;
}
.Dept input{
    width: 85px;
}
.suprgrp input{
    width: 105px;
}
.jovclass input{
    width: 125px;
}
.labour input{
    width: 135px;
}
.Payrule select{
    width: 150px;
    padding: 3px;
}
.filter button{
       width: 70px;
    margin-top: 30px;
    height: 27px;
}
.date input{
    margin-left:5px;
    width: 110px;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 768px) {
    .FlexMidd1{
        display: block;
    }
   
}



.FlexMidd1 input[type="radio"]{
    margin-bottom: 15px;
}
.dateText{
    margin-left: 10px;
}
legend.scheduler-border{
    font-size: 13px !important;
    padding: 0px;
    margin-bottom: 5px;
}
#crewselection{
    font-weight: bold;
    font-size:12px;
}
.FlexMidd1 fieldset.scheduler-border{
    padding: 8px !important;
}
.feildset1{
    width: 141px;
}
.clrPad{
    padding: 0px;
}
.addMar{
    margin-left: -22px;
}
.addMar fieldset{
    width: 135px;
}
.FlexMidd div{
    margin-right: 5px;
}
.FlexMidd2 input[type="radio"]{
    margin-bottom: 20px;
    margin-left: 5px;
}
.frmSty{
    width:899px;
    overflow:hidden;
}

/* Modal Dialog custom width */
.modal-vlg {
    width: 1200px;
}